.modal__close{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    right: 520px;
    background-image: url(../../../images/Close-Icon.svg); /* Thanks for the tip!*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    border: none;

}