.modal__toolTip {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0.5;
    visibility: hidden;
    transition: all .3s;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    
}

.modal__toolTip_visible {
    opacity: 1;
    visibility: visible;
}