.elements__item_delete{
    visibility: hidden;
    transition-duration: .4s;
    cursor: pointer;
    background-image: url(../../../../images/Trash.svg);
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    position: absolute;
    height: 19.3px;
    background-color: transparent;
    background-position: center;
    margin: 0;
    padding: 0;
    top: 19px;
    right: 15px;

}
.elements__item_delete_show{
    visibility: visible;
}
.elements__item_delete:hover {
opacity: 0.5;
}