@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/content/content.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/modal/modal.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
